 .status{
    margin: 10px;
} 
.deposit{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.withdraw{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.balance{
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 5px;
}
